@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
    /* --eng_font: "Urbanist", system-ui; */
    --eng_font: "Inter", sans-serif;
    --bangla_font: 'Noto Sans Bengali', sans-serif;
    --primary_bg: #0aad0a;
    --ring-color: #c2eac2;
}
*{
    font-family: var(--eng_font);
}


.table>:not(caption)>*>*{
  background-color: unset;
}

[type='text']:focus, [type='email']:focus, [type='url']:focus, [type='password']:focus, [type='number']:focus, [type='date']:focus, [type='datetime-local']:focus, [type='month']:focus, [type='search']:focus, [type='tel']:focus, [type='time']:focus, [type='week']:focus, [multiple]:focus, textarea:focus, select:focus{
  box-shadow: #85d685 !important;
  outline:none !important;
  border-color: #85d685 !important;
  box-shadow: 0px 0px 0px .25rem var(--ring-color);
}

/* Style the scrollbar track */
::-webkit-scrollbar{
    width: 4px; /* Width of the scrollbar */
  }
  
  
  
  /* Style the scrollbar thumb (the draggable part) */
  ::-webkit-scrollbar-thumb {
    border-radius: 8px;
    background: linear-gradient(#a1a1a1, #8f8f8f);   /* Change to your preferred color */
  }
  
  /* Style the scrollbar in Firefox */
  .scrollbar {
    scrollbar-width: thin;
    scrollbar-color: #bbbbbb; /* Change to your preferred colors */
  }


/* Custom horizontal scrollbar */
.custom-scrollbar::-webkit-scrollbar {
  height: 8px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: #999;
  border-radius: 10px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #c4c4c4;
  border-radius: 10px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #999;
}

/* Firefox */
.custom-scrollbar {
  scrollbar-width: thin;
  scrollbar-color: #c4c4c4 #999;
}



@media (min-width: 1536px) {
    .container {
        max-width: 1280px;
    }
}

.eng_font{
    font-family: var(--eng_font);
}
.primary_bg{
    background-color: var(--primary_bg);
}
.primary_txt{
    color: var(--primary_bg);
}
.section{
    margin-top: 2.4rem;
}

.shadow_none{
  box-shadow: none !important;
}

[type='checkbox']:checked{
  background-color: var(--primary_bg);
}

.horizontal-slider {
  width: 100%;
  height: 10px;
  background: #ddd;
  margin: 10px 0;
  display: flex;
  align-items: center;
}

.slider-thumb {
  height: 20px;
  width: 20px;
  background-color: #ffffff;
  border-radius: 100px;
  cursor: pointer;
  border: none !important;
  outline: none !important;
  box-shadow: rgb(112 112 112 / 36%) 0px 0px 10px 0px;
}

.slider-track {
  background: #f0f3f2;
  height: 10px;
}
.slider-track-1{
  background: #0aad0a;
  border-radius: 20px;
}



.green_badge{
    background-color: #d3efdf;
    color: #279866;
    padding: .2rem .8rem;
    text-align: center;
    width: fit-content;
  }
  
  .red_badge{
    background-color: #f7ddd8;
    color: #b71d18;
    padding: .2rem .8rem;
    text-align: center;
    width: fit-content;
  }
.shadow_none{
    box-shadow: none;
}
.category-button{
  min-width: fit-content;
}
.header-menu{
  display: inherit;
  gap: inherit;
  align-items: inherit;
  overflow-x: scroll;
  padding: .2rem 0;
}
.header-menu::-webkit-scrollbar{
  height: 6px;
}
.header-menu::-webkit-scrollbar-thumb{
  background: #d0d0d0;
}
.header-menu li{
  min-width: fit-content !important;
}



.responsive_table {
  width: 100%;
  overflow-x: scroll;
}

/* The scrollbar */
.responsive_table::-webkit-scrollbar {
  height: 8px; /* Change this value for the scrollbar height */
}

/* The track (background) of the scrollbar */
.responsive_table::-webkit-scrollbar-track {
  background: #f1f1f1; /* Change this to your desired track background color */
  border-radius: 10px;
}

/* The draggable thumb of the scrollbar */
.responsive_table::-webkit-scrollbar-thumb {
  background: #888; /* Change this to your desired thumb color */
  border-radius: 10px;
}

/* The thumb when hovered */
.responsive_table::-webkit-scrollbar-thumb:hover {
  background: #555; /* Change this to your desired thumb hover color */
}


.section_title{
  margin: 1rem 0;
}
.section_title a{
  font-size: 15px;
}
@media (max-width: 768px) {
  .section_title,
  .section_title h4{
    font-size: 20px !important;
  }
}






